[submodule "DranetzAPI"]
	path = DranetzAPI
	url = https://github.com/Canela-san/DranetzAPI.git
[submodule "PanelCC"]
	path = PanelCC
	url = https://github.com/Canela-san/PanelCC.git
[submodule "Buck-Conv-Arduino"]
	path = Buck-Conv-Arduino
	url = https://github.com/Canela-san/Buck-Conv-Arduino.git
